[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-mail = "*"
python-dotenv = "*"
werkzeug = "*"
pillow = "*"
psycopg2-binary = "*"
faker = "*"

[dev-packages]
flask-shell-ipython = "*"
pytest = "*"

[requires]
python_version = "3.12"
